@using Model.Dtos;
<div class="jumbotron">
    <h1>权限</h1>
     @Html.Partial("~/Views/Home/AddPermission.cshtml",ViewBag.ParentPermissions as IEnumerable<PermissionsDto>)
     <hr />
     @Html.Partial("~/Views/Home/Permissions.cshtml",ViewBag.PermissionsMenu as IEnumerable<PermissionsMenu>)
</div>

