@using Model.Dtos;
<div class="jumbotron">
    <h1>权限</h1>
    @Html.Partial("~/Views/Home/AddPermission.cshtml", ViewBag.ParentPermissions as IEnumerable<PermissionsDto>)
    <hr />
    <h1>添加角色</h1>
    @Html.Partial("~/Views/Home/AddRoles.cshtml", ViewBag.PermissionsMenu as IEnumerable<PermissionsMenu>)
    <hr />
    <h1>角色查看</h1>
    @Html.Partial("~/Views/Home/Roles.cshtml", ViewBag.RoleMenu as IEnumerable<RoleMenu>)

</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("input[type='checkbox']").click(function () {
                var obj = $(this).parent().parent().parent();
                if ($(this).prop("checked") == true) {
                    $(this).parent().find("input:checkbox").each(function (index,element) {
                        $(element).prop("checked", true);
                    });
                }
                if ($(this).prop("checked") == false) {
                    $(this).parent().find("input:checkbox").each(function (index, element) {
                        $(element).prop("checked", false);
                    });
                    if (obj.find("input[name='PermissionIds']:checked").length == 1 && obj.children("input:first-child").prop("checked")==true) {
                        obj.children("input:first-child").trigger("click");
                    }
                }
            });
        });
    </script>
}