@using Model.Dtos;
@model IEnumerable<PermissionsMenu>

@{
    foreach (var memuItem in Model)
    {

        <ul>
            <li>
                <input type="checkbox" name="PermissionsId"  value="@memuItem.Id"/> @memuItem.Name
                
                @Html.Partial("~/Views/Home/Permissions.cshtml", memuItem.ChildMenu)
            </li>
        </ul>
    }
}
