@using Model.Dtos;
@model IEnumerable<RolePermissionsMapMenu>

@{
    foreach (var memuItem in Model)
    {

        <ul>
            <li>
                <span>@memuItem.Name</span>
                @Html.Partial("~/Views/Home/RolePermissions.cshtml", memuItem.ChildMenu)
            </li>
        </ul>
    }
}
